<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Career Compass</title>
</head>

<body ng-app="careerCompass">
    <h1>index.ejs client-rendered view</h1>

    <nav>
        <a ui-sref="home">Home</a>
        <a ui-sref="signup">Signup</a>
        <a ui-sref="login">Login</a>
        <a ui-sref="profile">Profile</a>
        <a ui-sref="search">Search</a>
        <a ui-sref="results">Results</a>
    </nav>

    <div>
        <main ui-view=""></main>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>
    <script src="/javascripts/client.js"></script>
</body>
</html>