<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Career Compass</title>
</head>

<body>
    <h1>Career Compass</h1>

    <div>
        <a href="signup"><button>Sign Up</button></a>
        <a href="login"><button>Log In</button></a>
    </div>

</body>
</html>
