<!doctype html>
<html lang="en">
<head>
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style-landing.css">
</head>

<body>
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="signup">Sign Up</a></li>
        <li><a href="login">Log In</a></li>
        </ul>
      </div>
    </nav>

<h1>Career Compass</h1>
<p> Follow your dream.</p>
<p> Sign up to search and keep track of job openings in your field </p>
    <% include partials/scripts %>
</body>
</html>
