<!doctype html>
<html lang="en">
<head>
    <% include partials/head %>
</head>

<body>
    <h1>Career Compass</h1>

    <div>
        <a href="signup"><button>Sign Up</button></a>
        <a href="login"><button>Log In</button></a>
    </div>

    <% include partials/scripts %>
</body>
</html>
