<!doctype html>
<html lang="en">
<head>
    <% include partials/head %>
</head>

<body ng-app="careerCompass">
    <h1>Career Compass</h1>

    <nav>
        <a ui-sref="profile">Profile</a>
        <!--<a ui-sref="results">Results</a>-->
        <a ui-sref="test">New Search</a>
        <a ui-sref="edit">New Search</a>
        <a href="/error">Log Out</a>
    </nav>

    <main ui-view=""></main>

    <% include partials/scripts %>
</body>
</html>
