<!doctype html>
<html lang="en">
<head>
    <% include partials/head %>
</head>

<body ng-app="careerCompass">
    <h1>Career Compass</h1>
    <h1>THIS IS MY SHIT!</h1>

    <nav>
        <a ui-sref="profile">Profile</a>
        <a ui-sref="search">Search</a>
        <a ui-sref="results">Results</a>
        <a ui-sref="test">Test</a>
    </nav>

    <main ui-view=""></main>

    <% include partials/scripts %>
</body>
</html>
