<!doctype html>
<html lang="en">
<head>
    <% include partials/head %>
</head>

<body class="container-fluid">
<header>
    <% include partials/header %>
</header>

<h1>Profile Page!</h1>

</body>
</html>