<!doctype html>
<html lang="en">
<head>
    <% include partials/head %>
</head>

<body class="container-fluid">
<header>
    <% include partials/header %>
</header>


<form action="/my-handling-form-page" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="user_name" />
    </div>
    <div>
        <label for="mail">E-mail:</label>
        <input type="email" id="mail" name="user_email" />
    </div>
    <div>
        <label for="msg">Message:</label>
        <textarea id="msg" name="user_message"></textarea>
    </div>

    <div class="button">
        <button type="submit">Send your message</button>
    </div>
</form>

<ul>
    <% api['results'].forEach(function(job) { %>
        <div>
            <h6><%= job["jobtitle"]%></h6>
            <h6><%= job["company"]%></h6>
            <h6><%= job["formattedLocation"]%></h6>
            <h6><%= job["date"]%></h6>
        </div>
        <br>
    <% }); %>
</ul>


</body>
</html>