<!doctype html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>

    <body class="container-fluid">
        <header>
            <% include partials/header %>
        </header>

        <h1>Search Page!</h1>

        <form action="search/results" method="get">
            <input type="text" name="jobSearch" placeholder="job title">
            <input type="text" name="locationSearch" placeholder="city">
            <input type='submit' name="action">
        </form>
    </body>
</html>