<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Career Compass</title>
</head>

<body>
    <h1>Career Compass</h1>

    <!-- warn user if issue exists -->
    <div class="flash">
        <% if (typeof message !== 'undefined') { %>
            <% if (typeof message.error !== 'undefined' && message.error.length > 0) { %>
                <div class="bg-danger"><%= message.error %></div>
            <% } %>

            <% if (typeof message.info !== 'undefined' && message.info.length > 0) { %>
                <div class="bg-info"><%= message.info %></div>
            <% } %>

            <% if (typeof message.success !== 'undefined' && message.success.length > 0) { %>
                <div class="bg-success"><%= message.success %></div>
            <% } %>
        <% } %>
    </div>

    <!-- sign up form -->
    <h2>Sign Up</h2>
    <div>
        <form action="/signup" method="post">
            <label for="email">Email</label>
            <input class="form-control" type="text" name="email" id="email">

            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password">

            <input class="btn btn-default" type="submit">
        </form>
    </div>
</body>
</html>
