<h1>{{ $ctrl.title }}</h1>

<h3> My Jobs </h3>

<ul>
    <li ng-repeat="job in $ctrl.jobsList">

      <div class=myJob>
        <div class="col s12 m4">
            <div class="card small indigo lighten-4">
                <div class="card-content black-text">
                    <pre>{{ job['_id'] }}</pre>
                    <p>{{ job['jobtitle'] }}</p>
                    <p>{{ job['company'] }}</p>
                    <p>{{ job['formattedLocation'] }}</p>
                    <p>{{ job['date'] }}</p>

                    <button ng-click="$ctrl.removeJob(job._id)" class="waves-effect waves-light btn grey">
                        <a class="noFormat" ui-sref="profile" ui-sref-opts="{reload:true}">Delete</a>
                    </button>
                </div>
            </div>
        </div>
      </div>
    </li>
</ul>