

<div class="searchBox">
    <div class="card indigo lighten-4">
      <div class="card-content black-text">
<input class="search" type="text" placeholder="position" ng-model="$ctrl.jobString">
<input class="search" type="text" placeholder="location" ng-model="$ctrl.locationString">
<!-- <button class="search" ng-click="$ctrl.getJobs()">Search</button> -->
<button type="submit" class="waves-effect waves-light btn grey" ng-click="$ctrl.getJobs()">Search</button>
</div>
</div>
</div>

<ul>
    <li ng-repeat="job in $ctrl.allJobs">
        <div class="jobDisplay">
          <div class="card indigo lighten-4">
            <div class="card-content black-text">
            <form action="api/jobs" method="post">

                <label for="jobtitle"><strong>{{ job['jobtitle'] }}</strong></label><br>
                <input type="hidden" name="jobtitle" value="{{ job['jobtitle'] }}">

                <label for="company">{{ job['company'] }}</label><br>
                <input type="hidden" name="company" value="{{ job['company'] }}">

                <label for="formattedLocation">{{ job['formattedLocation'] }}</label><br>
                <input type="hidden" name="formattedLocation" value="{{ job['formattedLocation'] }}">

                <label for="snippet" >{{ job['snippet'] }}</label><br>
                <input type="hidden" name="snippet" value="{{ job['snippet'] }}">

                <label for="date" >{{ job['date'] }}</label><br>
                <input type="hidden" name="date" value="{{ job['date'] }}">

                <button type="submit" class="waves-effect waves-light btn grey"> Save </button>
            </form>
          </div>
        </div>
        </div>
    </li>
</ul>
