body {
    background: grey;
    font-family: 'Roboto Slab', serif;
}

.jobDisplay {
    display: inline-block;
    padding: 1.5rem;
    border: 1px solid black;
}

ul {
    list-style-type: none;
}

.search {
    margin: 1rem;
    height: 2rem;
}
input.search {
    width: 15rem;
}

a.noFormat {
    text-decoration: none;
    color: inherit;
}

input[type='text'] {
    display: block;
}