body {
  background-image: url('/images/northstar.jpg');
  background-size: 100%;
  color: #FFDEAD;
}

.nav-wrapper {
  background-color: #FFDEAD;
}

.nav-wrapper a {
  color: #333333;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 5em;
  margin-top: 70px;
  margin-left: 50px;
  text-align: left;
}

p {
  text-align: left;
  font-size: 2em;
margin-left: 120px;
}
